[2019-12-31 21:14] weierophinney opened #1 "perfect FunctionScanner class"
- [x] Add FunctionScanner for the new feature.
- [x] Add tests for the new feature.
- [x] Add a `CHANGELOG.md` entry for the new feature.

---

Originally posted by @pifeifei at https://github.com/zendframework/zend-code/pull/181

[2019-12-31 21:14] weierophinney commented on #1
Hey, all the scanners are generally to be avoided: consider using (and contributing to) `roave/better-reflection` instead

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/pull/181#issuecomment-569421249

[2019-12-31 21:14] weierophinney commented on #1
# Performance, which can be ignored temporarily

## purpose

The code prompt file is generated automatically according to the [ide-helper-generator](https://github.com/pifeifei/ide-helper-generator) I wrote. It's useful here to scanner

## conceive

### Existing ide helper (v2.2.0)

[code]

### Need to update to 4.x.x

[code]

### Desired result

[code]

Here you need to use  classScanner and  Fun

[2019-12-31 21:14] weierophinney commented on #1
The `FunctionGenerator` class is also added to see if it is needed.
at master branch: https://github.com/pifeifei/zend-code.git

---

Originally posted by @pifeifei at https://github.com/zendframework/zend-code/pull/181#issuecomment-569918548

[2019-12-31 21:14] weierophinney opened #2 "Fix return type of FileGenerator::getClass"
Provide a narrative description of what you are trying to accomplish:

- [Y ] Is this related to quality assurance?
Return type of `\Zend\Code\Generator\FileGenerator::getClass` only has `ClassGenerator` while it can also return false when the classes array is empty.
PHPStan will whine about this, because it should always return a true-thy return, also it gives the perception it will always return

[2019-12-31 21:14] weierophinney opened #3 "Not using return value of array_map in ClassGenerator->setImplementedInterfaces"
https://github.com/zendframework/zend-code/blob/master/src/Generator/ClassGenerator.php#L476-L482 has the following snippet

[code]

That's a no-op, since the return value of the array_map isn't used. I think that the array_map should be removed, replaced with array_walk (probably pointless unless it would throw), or (probably) be changed to:

[code]

The latter seems likely given the rest of the

[2019-12-31 21:14] weierophinney opened #4 "Return type self is not an internal type while code generation"
Is it right behavior that TypeGenerator does not think self type is an internal type?
Because of that my code generation causes wrong return type in resulting file.
`public function foo(): self`
turns on
`public function foo(): \self`
It thinks self is a class.
Zend\Code\Generator\TypeGenerator:36
`private static $internalPhpTypes = ['void', 'int', 'float', 'string', 'bool', 'array', 'callable', '

[2019-12-31 21:14] weierophinney commented on #4
@mastiuhin-olexandr `self` is an alias for "this class". Passing `self` to the `TypeGenerator` is incorrect, as `self` has no meaning without its surrounding context.

I'd rather say that it should be rejected completely, and an exception should be thrown.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/161#issuecomment-429856131

[2019-12-31 21:14] weierophinney opened #5 "[BC Break] Drop built-in code scanners for 4.0"
There is a discussion in the PR #123 about possible removing of low-level scanners in the `Zend\Code\Scanner` subnamespace for 4.0. Reason for that is to avoid keeping support for low-level code analysis via tokens inside scanners, this job can be performed by external libraries, such as `nikic/php-parser`, `roave/better-reflection`, `goaop/parser-reflection`, etc.

Some facts about `Scanner` code

[2019-12-31 21:14] weierophinney commented on #5
@Ocramius So, we are going to drop both `DocBlockReflection` and `FileReflection` classes, right? Or keep them but use external libs? For example, `DocBlockReflection` contains sensitive logic for accessing tags, however we can mimic this logic via optional dependency `phpdocumentor/reflection-docblock` that provides good API for that.

Ok, I will check if it's possible to switch to the core class

[2019-12-31 21:14] weierophinney commented on #5
I think so, yes.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/155#issuecomment-382767977

[2019-12-31 21:14] weierophinney opened #6 "MethodReflection::getPrototype() crashes when method has no return"
When I use this method to grab the protype of a method of my class, it crashes with this error:

It happens because I have a method without return. My opinion is: the return type should be "void" on prototype. Issue #84 adresses the support for void. I've modified the code to make it return void. I could create a pull request if you guys want me to do so.

It was like this:

<pre>
             $re

[2019-12-31 21:14] weierophinney commented on #6
Hi @ericklima-comp!

Can you maybe write an example class and snippet of `zend-code` that reproduces the actual crash?

If you want to, we can guide you through the pull-request process, so you familiarize with the platform and can apply the changes with your own attribution as well, but we first need a unit test. See https://github.com/zendframework/zend-code/blob/323188dc74e2780a401b8014804ef7ed

[2019-12-31 21:14] weierophinney commented on #6
Hello. I'm kind a dinossaur when it comes to testing.
Anyway, I've attached a whole test case. If you need anything else, just let me know.
[zend-code-bug-test-ericklima.comp_2018.04.17.zip](https://github.com/zendframework/zend-code/files/1921635/zend-code-bug-test-ericklima.comp_2018.04.17.zip)

---

Originally posted by @ericklima-comp at https://github.com/zendframework/zend-code/issues/154#is

[2019-12-31 21:14] weierophinney commented on #6
@ericklima-comp you uploaded the entire zip with the repo - can you maybe just add your test to https://gist.github.com/ for now? I can then show you how to open a pull request here.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/154#issuecomment-382553948

[2019-12-31 21:14] weierophinney commented on #6
@Ocramius . Here it is!
https://gist.github.com/ericklima-comp/bb32e0b9ec1a7ad9c430a201a96d5c3f

---

Originally posted by @ericklima-comp at https://github.com/zendframework/zend-code/issues/154#issuecomment-382733371

[2019-12-31 21:14] weierophinney opened #7 "Use 'static' return type in docblock"
For example:
[code]
Instead `@return AbstractMemberGenerator`

---

Originally posted by @ViktorPegy at https://github.com/zendframework/zend-code/issues/148

[2019-12-31 21:14] weierophinney commented on #7
I think in that case we should use `$this`, there is slightly difference between `static` and `$this` and I think it is good explained in PSR-5 draft (the bottom of the page):
https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-code/issues/148#issuecomment-350986774

[2019-12-31 21:14] weierophinney commented on #7
I agree

---

Originally posted by @ViktorPegy at https://github.com/zendframework/zend-code/issues/148#issuecomment-350989644

[2019-12-31 21:14] weierophinney opened #8 "Zend\Code\Reflection\FileReflection crashes on Zend's module.config.php"
When trying to do a FileReflection on a zend module.config.php you run into a  ReflectionException when invoking FileReflection::getClasses().  Underlying problem is the tokens_get_all() function (in Zend\Code\Scanner\FileScanner::__construct) incorrectly flags the object::class constant as a T_CLASS.

---

Originally posted by @BavoJanss at https://github.com/zendframework/zend-code/issues/142

[2019-12-31 21:14] weierophinney opened #9 "Zend\Code\Reflection\FileReflection getBody()"
When instantiating a Zend\Code\Generator\FileGenerator::fromReflection() one would expect ::generate to fully reconstruct any original file. Unfortunately Zend\Code\Reflection\FileReflection has no ::getBody method so any code outside classes is ignored.

---

Originally posted by @BavoJanss at https://github.com/zendframework/zend-code/issues/141

[2019-12-31 21:15] weierophinney opened #10 "Additional blank lines make generated class not PSR2 compliant"
Hi guys

I saw  PSR2 issues when generating classes.

See errors below

I post you an exemple which generate these errors

[code]

---

Originally posted by @JuJuDropThor at https://github.com/zendframework/zend-code/issues/135

[2019-12-31 21:15] weierophinney commented on #10
@JuJuDropThor can you maybe write a test that verifies PSR-2 compliance of generated code?

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/135#issuecomment-338236459

[2019-12-31 21:15] weierophinney commented on #10
I'm not sure I understand what you asked. You want to know how I checked if the generated code was PSR-2 compliant ?

I just ran phpcs with --standard=PSR2 argument.

---

Originally posted by @JuJuDropThor at https://github.com/zendframework/zend-code/issues/135#issuecomment-338241318

[2019-12-31 21:15] weierophinney commented on #10
@JuJuDropThor yes, what we'd need is a test that automates such a check

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/135#issuecomment-338250310

[2019-12-31 21:15] weierophinney commented on #10
Sure. See the code below :

[code]

---

Originally posted by @JuJuDropThor at https://github.com/zendframework/zend-code/issues/135#issuecomment-338571680

[2019-12-31 21:15] weierophinney commented on #10
Hello guys

Any news ? Tell me if you need more code.

---

Originally posted by @JuJuDropThor at https://github.com/zendframework/zend-code/issues/135#issuecomment-340760294

[2019-12-31 21:15] weierophinney commented on #10
@JuJuDropThor what would be needed is to turn this into a proper test case.
We already have phpcs installed as dev dependency: it just needs to run (as part of the test suite) in one of the tests.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/135#issuecomment-340760647

[2019-12-31 21:15] weierophinney commented on #10
Something like this class works for testing various generated code:

[code]
I'll write some tests for various generated code later.

---

Originally posted by @allcode at https://github.com/zendframework/zend-code/issues/135#issuecomment-345372890

[2019-12-31 21:15] weierophinney commented on #10
Hello

I added your unit test and ran it with phpunit ./test/Psr2ComplianceTest.

See bellow what I got

[code]

$report->getErrorCount() return 1. But it's strange because $report->getErrors() return an empty array

---

Originally posted by @JuJuDropThor at https://github.com/zendframework/zend-code/issues/135#issuecomment-349597762

[2019-12-31 21:15] weierophinney commented on #10
That one is obvious, you have 2 blank lines but it expects 0 blank lines, that is ok.

This also seems obvious, how many blank lines did you actually have?
It must be 1, not less and not more.

---

Originally posted by @flowl at https://github.com/zendframework/zend-code/issues/135#issuecomment-376875267

[2019-12-31 21:15] weierophinney opened #11 "Update github library description and add keywords"
In github library description we should have link to https://docs.zendframework.com/zend-code instead of github.io and it would be nice to have also some keywords with the library 😄

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-code/issues/126

[2019-12-31 21:15] weierophinney commented on #11
Suggestions? 😁

On 29 Jul 2017 10:28 AM, "Michał Bundyra" <notifications@github.com> wrote:

In github library description we should have link to
https://docs.zendframework.com/zend-code instead of github.io and it would
be nice to have also some keywords with the library 😄

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https:/

[2019-12-31 21:15] weierophinney commented on #11
`zendframework`, `php` (obviously) and maybe: `reflection`, `code-generation` (or `code-generator`), ... hm ...

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-code/issues/126#issuecomment-318820304

[2019-12-31 21:15] weierophinney opened #12 "Extra visual debt"
This is just an attempt to fix the type-hinting mess inside the library. This is a BC break, as inheritance may be broken if the child classes do not respect the parent class signature.

Also, I suggest removing all the scanner stuff before merging.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/pull/123

[2019-12-31 21:15] weierophinney commented on #12
@Ocramius: I think that the scanners would profit from a refactoring. If they will get replaced eventually then there is no need for that.

Is the scanner stuff going to get deprecated? Replaced by what? nikic/PHP-Parser?

Thanks for any hint. :)

---

Originally posted by @fhein at https://github.com/zendframework/zend-code/pull/123#issuecomment-342328177

[2019-12-31 21:15] weierophinney commented on #12
https://github.com/Roave/BetterReflection

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/pull/123#issuecomment-342386442

[2019-12-31 21:15] weierophinney commented on #12
@fhein @Ocramius It would be nice to drop all scanners from this library too for 4.0, similarly to annotations, because `roave/better-reflection` or `goaop/parser-reflection` or even `nikic/php-parser` can handle this work separately, whereas this library will solve only one task: provide an API for source code generation.

Will prepare a separate PR for dropping scanners after rebasing and mergin

[2019-12-31 21:15] weierophinney commented on #12
Dropping the scanners is probably a better idea for now.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/pull/123#issuecomment-382383085

[2019-12-31 21:15] weierophinney commented on #12
Ok, let me check if they could be easily dropped..

---

Originally posted by @lisachenko at https://github.com/zendframework/zend-code/pull/123#issuecomment-382384483

[2019-12-31 21:15] weierophinney commented on #12
I've checked some dependencies and this is short summary:

- Whole `Scanner` namespace could be removed, there are only dependencies in `Reflection` namespace, eg. `Zend\Code\Reflection\DocBlockReflection::reflect` uses `DocBlockScanner` class, as well `Zend\Code\Reflection\FileReflection::reflect` uses `CachingFileScanner`. All remaining integration parts could be removed as they unused.
- Classe

[2019-12-31 21:15] weierophinney commented on #12
Yeah, this stuff can be dropped. At this point, pointing to `roave/better-reflection` for most of the "brute-forcing the filesystem, looking for symbols"

Not sure about this one. I think the initial idea was that `ext-reflection` had huge potholes, and the library tried to fill them. I'd keep this for a separate issue, to figure out if the `Zend\Code\Reflection` namespace actually does anything m

[2019-12-31 21:15] weierophinney commented on #12
Moved to #155 to separate issue discussion.

---

Originally posted by @lisachenko at https://github.com/zendframework/zend-code/pull/123#issuecomment-382702745

[2019-12-31 21:15] weierophinney opened #13 ""newLine" Bug in MethodGenerator class"
The static function {{Zend\Code\Generator\MethodGenerator::clearBodyIndention}} fails on Windows 10, php 7.1. in line 83: $lines = explode(PHP_EOL, $body);
$body does not contain any PHP_EOL (\n\r) characters, no matter what line ending encoding the source content had before.
works well on Linux, OSX.

quick fix:
change line 83 to
$lines = explode("\n", $body);

---

Originally posted by @finalJus

[2019-12-31 21:15] weierophinney commented on #13
Urgh, this is super-annoying :-(

We need to split via "\n" and also "\r\n" or whatever other exotic
platforms (windows/unix) support.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Wed, Jun 28, 2017 at 10:39 AM, finalJustize <notifications@github.com>
wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/111#issuecomment-311

[2019-12-31 21:15] weierophinney opened #14 "Check that two MethodGenerator instances hold metadata for methods with the same signature"
Suppose I have two `MethodGenerator` instances - `$methodA` and `$methodB`.
Does this library provide a way to check, whether methods, that might be generated by `$methodA` and `$methodB` will have the same signature?
By the same signature I mean identical method names, same params with same type hints and same return types.
I thought there might be method like `MethodGenerator::hasSameSignature(M

[2019-12-31 21:15] weierophinney opened #15 "E_NOTICE with trait method aliases"
I'm getting `Notice: Undefined offset: 1 in /path/to/vendor/zendframework/zend-code/src/Scanner/ClassScanner.php on line 596` using 3.1.0. It looks like this happens with aliased trait methods:

[code]

Stepping through the [code](https://github.com/zendframework/zend-code/blob/master/src/Scanner/ClassScanner.php#L596) it looks like `$alias['original']` does not contain '::', causing the notice. I

[2019-12-31 21:15] weierophinney opened #16 "PropertyGenerator::setDefaultValue incorrectly handles ValueGenerator instances"
Related to #96, PropertyGenerator behaves incorrectly when the default value passed into it is a ValueGenerator instead of a PropertyValueGenerator.

Example (lifted from #96):

[code]

Will print this:

[code]

`PropertyGenerator::setDefaultValue` wraps everything that isn't a `PropertyValueGenerator` instance in a new instance of that class.  IMO `setDefaultValue` should not accept ValueGenerato

[2019-12-31 21:15] weierophinney opened #17 "Deprecate scanner functionality (4.0), drop it (5.0) in favor of"
Basically, parsing via regexes is simply not acceptable/viable anymore, and absolutely doesn't scale, as the syntax of PHP keeps changing.

@asgrim has been building https://github.com/Roave/BetterReflection since last year, and the library is stable/mature, so I'd suggest that we chop the head off this part of zend-code's functionality.

Thoughts?

---

Originally posted by @Ocramius at https://g

[2019-12-31 21:15] weierophinney commented on #17
No problem here, that's the sort of thing BR can do I believe (though I'm not intimately familiar with the scanner here). If there is missing functionality in BR, I'm happy to take PRs or feature requests.

---

Originally posted by @asgrim at https://github.com/zendframework/zend-code/issues/91#issuecomment-247951838

[2019-12-31 21:15] weierophinney commented on #17
I'm :+1: for this. While I've been happy we've had this feature in zend-code, it's difficult to maintain, and, particularly with the fast pace of language additions/changes, hard to keep up-to-date. The only way we could accomplish that is with a rewrite to use an AST and/or tokenization approach (the latter of which BR uses, IIRC), which would be a significant undertaking. Since another tool exis

[2019-12-31 21:15] weierophinney opened #18 "Notice when using array as default value for parameter"
I'm trying to set array for default value:

[code]

And getting notice:

[code]

Below is a piece of ApiBuilder.php:

[code]

With `$params = [1,2]`, for example, notice disapears.

---

Originally posted by @4orever at https://github.com/zendframework/zend-code/issues/88

[2019-12-31 21:15] weierophinney opened #19 "Support nullable types"
As per PHP 7.1, it is possible to define nullability of a type by adding a `?` in front of it ( https://wiki.php.net/rfc/nullable_types ).

A few heads-up:
- careful about `?Foo $bar = null` vs `?Foo $bar` vs `Foo $bar = null`
- need to eventually patch the `TypeGenerator` to include the `?` in it (not sure yet)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/iss

[2019-12-31 21:15] weierophinney commented on #19
Surely resolving the fact that `Zend\Code\Scanner\MethodScanner` doesn't properly handle scalar type declarations should come before supporting nullable types? #56 still hasn't received any acknowledgement.

---

Originally posted by @djmattyg007 at https://github.com/zendframework/zend-code/issues/85#issuecomment-234905005

[2019-12-31 21:15] weierophinney commented on #19
@djmattyg007 I reported the issue completely independently from other issues.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/85#issuecomment-234914308

[2019-12-31 21:15] weierophinney commented on #19
My point was that PHP 7.0 compatibility should be targeted before PHP 7.1 compatibility.

---

Originally posted by @djmattyg007 at https://github.com/zendframework/zend-code/issues/85#issuecomment-234973411

[2019-12-31 21:15] weierophinney commented on #19
Ah yes, that is because the codegen part of this component is already 7.0 compatible. I hardly ever use the scanner, as it is not AST-based (which makes it very unstable)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/85#issuecomment-235038266

[2019-12-31 21:15] weierophinney commented on #19
If no one is maintaining the scanning code, shouldn't it be removed?

---

Originally posted by @djmattyg007 at https://github.com/zendframework/zend-code/issues/85#issuecomment-239420763

[2019-12-31 21:15] weierophinney opened #20 "Failing test on indentation correction"
Requested here:
https://github.com/zendframework/zend-code/issues/82#issuecomment-233306028

@Ocramius

Used reflection since the method is protected.

---

Originally posted by @Saeven at https://github.com/zendframework/zend-code/pull/83

[2019-12-31 21:15] weierophinney opened #21 "Added some tests for #6499"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/6503
User: @rahuldroy
Created On: 2014-07-31T14:24:38Z
Updated At: 2015-05-07T13:37:25Z
Body

---
### Comment

User: @Ocramius
Created

[2019-12-31 21:15] weierophinney opened #22 "Update AnnotationScanner.php"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7113
User: @nouc23
Created On: 2015-01-09T10:38:17Z
Updated At: 2015-05-07T14:11:59Z
Body
I know we should write code using PSR standa

[2019-12-31 21:15] weierophinney opened #23 "[ZF3] FQCN in parameter type hints"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/4149
User: @Ocramius
Created On: 2013-03-30T11:59:09Z
Updated At: 2014-09-28T00:34:50Z
Body
This PR introduces FQCNs for type-hints in

[2019-12-31 21:16] weierophinney opened #24 "Examples for Trait generator"
I had requested traits back in zendframework/zendframework#4876 which is now closed. It appears this support was added via TraitGenerator. Would be great to see some examples included in the docs.

---

Originally posted by @RSully at https://github.com/zendframework/zend-code/issues/73

[2019-12-31 21:16] weierophinney opened #25 "Use Reflection\FileReflection without including file?"
From zendframework/zendframework#6860 which was just closed:

/cc @sasezaki @adamlundrigan who had activity on previous issue

---

Originally posted by @RSully at https://github.com/zendframework/zend-code/issues/71

[2019-12-31 21:16] weierophinney commented on #25
updated link to code at this new repo: https://github.com/zendframework/zend-code/blob/ca15548f1e4f4f3228ea5d106061e8f56f62510e/src/Reflection/FileReflection.php#L88

---

Originally posted by @RSully at https://github.com/zendframework/zend-code/issues/71#issuecomment-228766958

[2019-12-31 21:16] weierophinney opened #26 "v3 only: Unknown Notices from ClassScanner"
[code]

BTW: I just added a new directory to scan via the great zend annotation module but it fails with a fatal exception in the ClassScanner. Is it possible to add more accurate error messages which make it simple to locate the file?

**edit**:
- Error when folder contains empty file.
- Notice:

[code]

when you have a php config file with ::class syntax:

[code]

---

Originally posted by @aigh

[2019-12-31 21:16] weierophinney commented on #26
@aight8, @weierophinney,  this issue is when the scanner scans plain php file with "::class" token.
for example:

[code]

will fail as it recognizes "::class" as "class Name".
as a temporary solution, do not use that and change your code to, eg.:

[code]

![image](https://cloud.githubusercontent.com/assets/635848/17662369/a7a05110-62ed-11e6-823a-6a39edab8db0.png)

![image](https://cloud.githubuser

[2019-12-31 21:16] weierophinney opened #27 "Zend\Code\Scanner\MethodScanner does not account for scalar type declarations"
I believe the issue is with `MethodScanner` and not `ParameterScanner`, as this is what is actually parsing the PHP tokens - it correctly ignores non-scalar type declarations such as `array` and `callable`. From what I can tell, `string`, `int`, `bool` and `float` are tokens of type `T_STRING`. As a result, the scanner believes they are classnames. This can result in classnames that simply don't e

[2019-12-31 21:16] weierophinney commented on #27
As an aside to this, it would be nice if `ParameterScanner` and `MethodScanner` were able to handle non-class type declarations of any form.

---

Originally posted by @djmattyg007 at https://github.com/zendframework/zend-code/issues/56#issuecomment-217596168

[2019-12-31 21:16] weierophinney commented on #27
It looks like there's a related issue with classes that have a leading namespace separator. `MethodScanner` doesn't appear to detect this, and fails to pass the token onto `ParameterScanner`. `ParameterScanner` then uses `NameInformation` to resolve the classname as if it is relative to the current namespace, rather than as an FQCN.

The issue is definitely with `MethodScanner`. If you create a co

[2019-12-31 21:16] weierophinney commented on #27
I've managed to create a patch to resolve the second issue, see #60. The original problem, incorrectly detecting scalar type declarations, is still an issue.

---

Originally posted by @djmattyg007 at https://github.com/zendframework/zend-code/issues/56#issuecomment-217699954

[2019-12-31 21:16] weierophinney commented on #27
I had to re-submit the PR as #61.

---

Originally posted by @djmattyg007 at https://github.com/zendframework/zend-code/issues/56#issuecomment-217700272

[2019-12-31 21:16] weierophinney opened #28 "DirectoryScanner->getClasses() returns no classes"
I scan with this class a directory for classes. But getClasses returns an empty array. When I test getFiles it works I get dozens files. I use php7.

---

Originally posted by @aight8 at https://github.com/zendframework/zend-code/issues/50

[2019-12-31 21:16] weierophinney commented on #28
Possibly duplicate of #49. Check if you are running PHP 7.0.5 or 7.0.4

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/50#issuecomment-209507474

[2019-12-31 21:16] weierophinney opened #29 "Docblock for constants is not supported"
Hi,

I think that Classgenerator should support docblock for constants . Ex :

[code]

---

Originally posted by @neilime at https://github.com/zendframework/zend-code/issues/44

[2019-12-31 21:16] weierophinney opened #30 "Adding parameters of type that exists in "use" statements"
Unless I'm missing something, there is no way to add a type-hinted parameter to a method that does not use the fully-qualified name (as it exists as a use statement).

e.g.  (See `SomeClass` type-hint in method)

[code]

If you don't supply a fully-qualified name, it looks like:

[code]

---

Originally posted by @postalservice14 at https://github.com/zendframework/zend-code/issues/37

[2019-12-31 21:16] weierophinney commented on #30
@postalservice14 this is intentional, as a `MethodGenerator` is unaware of the context it is being generated in.

Basically, generated code is typically not nice, but at least working correctly.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/37#issuecomment-174539334

[2019-12-31 21:16] weierophinney commented on #30
@Ocramius yeah, I guess I was just trying to get it to generate "nice" code.

I suppose this might be a fundamental shift, but it would be nice if there was a way to force it.  Let the code doing the generation take on the responsibility of knowing the context.

---

Originally posted by @postalservice14 at https://github.com/zendframework/zend-code/issues/37#issuecomment-174545356

[2019-12-31 21:16] weierophinney commented on #30
If I were to create a PR that allowed something like this (would that be okay?):

**see `forceGlobal` option**

[code]

---

Originally posted by @postalservice14 at https://github.com/zendframework/zend-code/issues/37#issuecomment-174546074

[2019-12-31 21:16] weierophinney commented on #30
@postalservice14 I tried working around it many times, and every time it leads to circular dependencies (`ClassGenerator`<->`FileGenerator`<->`MethodGenerator` loops) that are just hellish to test and keep BC compliant. The benefits are not worth it, compared to the additional complexity...

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/37#issuecomment-17

[2019-12-31 21:16] weierophinney commented on #30
Ah, I see what you mean... could work, but requires a lot of internal rework.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/37#issuecomment-174546365

[2019-12-31 21:16] weierophinney commented on #30
Hello, @Ocramius I don't know if it's suitable, but I have made some little changes to allow to use alias in parameters.

The main goal was to keep the current behavior but allow to override it if necessary. You can found all the code on my fork. https://github.com/vonglasow/zend-code/tree/type-alias

@postalservice14 You can use it like this.

[code]

---

Originally posted by @vonglasow at https

[2019-12-31 21:16] weierophinney commented on #30
@vonglasow please send a PR with that branch, so it can eventually be reviewed.

I would rather suggest passing in a `type object`, instead of an array with some sort of key/value pre-defined structure (hard to debug when things go wrong).

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/37#issuecomment-178153222

[2019-12-31 21:16] weierophinney commented on #30
@Ocramius PR is done see https://github.com/zendframework/zend-code/pull/40 feel free to make any feedback

---

Originally posted by @vonglasow at https://github.com/zendframework/zend-code/issues/37#issuecomment-178160025

[2019-12-31 21:16] weierophinney commented on #30
@vonglasow thanks!

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-code/issues/37#issuecomment-178168854

[2019-12-31 21:16] weierophinney commented on #30
:+1: to this feature request. I've been trying for the last hour to find how to remove the fully qualified classname from type hints, should have checked here first :)

---

Originally posted by @josephmcdermott at https://github.com/zendframework/zend-code/issues/37#issuecomment-184410162

[2020-01-15 19:20] michalbundyra opened #34 "Property without default value"
Is it possible to generate property without default value?

[code]

Should output:

[code]

Maybe there should be new type

[code]

---

Originally posted by @wwwgo-pl at https://github.com/zendframework/zend-code/issues/28

[2020-01-15 19:21] michalbundyra opened #35 "`ParameterGenerator` always fails with variadic parameters"
The `ParameterGenerator` always considers [`ReflectionParameter#isOptional()`](https://github.com/zendframework/zend-code/blob/3da502f243df7a189b9c1cfc70a96944ef111957/src/Generator/ParameterGenerator.php#L77) when checking for default parameter values.

A variadic argument is, though, always optional and never has a default value.

---

Originally posted by @Ocramius at https://github.com/zendfra

[2020-01-24 21:43] BenMorel opened #37 "This package should not "replace" zend/code"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.4.1

#### Summary

This package is marked as **replacing** `zendframework/zend-code`:

https://github.com/laminas/laminas-code/blob/8499ce005b4c028af6c9e6145a27b6ea5d3c716b/composer.json#L67-L69

There seems to be a misunderstanding in what `replace` [actually does](https://getcomposer.org/doc/04-schema.md#replace): the p

[2020-01-24 22:08] BenMorel commented on #37
Sorry, I just realized that this package does require `laminas/laminas-zendframework-bridge`, so there is no bug here.

There is, however, an issue with composer autoloading I think:

- by default, in `--no-dev` mode, the Class not found error occurs:
[code]

- if I manually require `laminas/laminas-zendframework-bridge`, it now works:
[code]

Even though diffing `composer.lock` shows no changes,

[2020-01-24 23:20] BenMorel commented on #37
Looks like I somehow ended up with a broken composer config. Here's how I fixed it:

[code]

Tell me why, but `laminas/laminas-code` was now replaced with `zendframework/zend-code`, and the problem is gone for me.

I believe there's a bug somehow with composer, but I wasn't able to make a reproducible test case after more than one hour, so I'm giving up now.

Maybe the steps above will help someon

[2020-01-24 23:20] #37 closed

[2020-02-06 10:42] magnetik commented on #37
I had the same problem. I suspect symfony flex to have messed with the dependencies.

IMO the bug should be open as I think you are right about the fact that this package is NOT a "replace"(ment) of zend-code.

[2020-02-06 16:13] BenMorel commented on #37
@magnetik IDK, because it requires the bridge, it effectively replaces zend-code, with no modification required on code using the library.

[2020-02-06 16:17] Xerkus commented on #37
@magnetik are you using latest composer version?

[2020-02-06 16:21] magnetik commented on #37
I'm running 1.9.2

[2020-02-06 16:23] magnetik commented on #37
Hum but maybe that's someone on my team that was using 1.8.6 that did the composer update. Could this be it?

[2020-02-18 08:05] crmpicco commented on #37
Thanks a bunch for this comment. This is exactly what I had to do.

[2020-02-18 08:38] Xerkus commented on #37
There is some kind of issue here that looks more of a support kind rather than a bug.
Please take it to our [discourse forums](https://discourse.laminas.dev/c/questions/components) so we can figure it out and help you.

[2020-02-18 10:19] BenMorel commented on #37
@Xerkus Indeed, I don't think there's any issue with laminas-code.
This is more likely a Composer bug. Closing.

[2020-02-18 15:46] remorhaz commented on #37
Probably this one I've just discovered. If yes then temporary workaround is just not to use `--no-dev` key.

https://github.com/composer/composer/issues/8622

[2020-03-02 11:59] #11 closed

[2020-04-28 21:39] divix1988 opened #40 "addConstant() is producing code with keyword `public`"
`addConstant()` method is outputting with invalid output:
[code]
(notice the `public` keyword)

**DETAILS:**
`PropertyGenerator.php` line: 232, we need to drop `$this->getVisibility()`

[2020-04-28 22:13] #40 closed, assigned to nobody

[2020-04-29 14:28] weierophinney commented on #40
Dropping a note so that people searching for this scenario and finding this issue understand why it was closed.

Starting with PHP 7.1, PHP allows declaring visibility on constants. Current versions of this library target 7.1 and up.

[2020-07-13 10:06] tomasz-kusy opened #41 "Case sensitive method name"
Hi,
In PHP method names are case sensitive. Why you don't allow to generate case sensitive method names?
I'm using https://github.com/goetas-webservices/xsd2php to generate classes. I've got a issue with same xml attribute name (id and ID). Unfortunately I can't fix it because method 'hasMethod' is not case sensitive.

[2020-07-13 10:12] michalbundyra commented on #41
@tomasz-kusy Thanks for reporting.
I would consider it as a bug. Would you be able to provide a fix with tests? Thanks!

[2020-07-13 17:16] weierophinney commented on #41
@tomasz-kusy I'm confused, because you're saying PHP method names are case sensitive, and then asking why we don't allow generating case sensitive method names, and then indicate that `hasMethod` is not case sensitive. I think one or more of those is either a request or an assertion of case **in**sensitive.

To my knowledge, based on the published documentation and looking at the code, we use _exa

[2020-07-14 08:26] tomasz-kusy commented on #41
You're right!
Because class properties are case sensitive I (wrongly) assumed that method names are too. My fault :-/
A man learns his whole life...
Closing issue.

[2020-07-14 08:26] #41 closed, assigned to nobody

[2020-08-05 01:45] samsonasik commented on #7
The code is now uses `@return AbstractMemberGenerator`

https://github.com/laminas/laminas-code/blob/40919916c4ca6ad815874539cf528814429f0269/src/Generator/AbstractMemberGenerator.php#L200

[2020-09-13 13:00] wenbinye opened #44 "Method body extract error with express static::class"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.4.1

#### Summary

[code]
The `test` method body was not extract successfully.

#### Current behavior

Output code is :

[code]

#### How to reproduce

#### Expected behavior

[code]

[2020-09-13 13:24] Ocramius commented on #44
Probably related to code scanners, which are to deprecated and to be
removed.

Consider using Roave/better-reflection if you need to manipulate AST

On Sun, Sep 13, 2020, 15:00 Ye Wenbin <notifications@github.com> wrote:

[2020-09-18 04:31] #44 closed, assigned to nobody

[2020-10-04 15:27] boesing opened #45 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:43] boesing opened #46 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-21 13:26] Slamdunk commented on #46
This one is tricky: https://wiki.php.net/rfc/namespaced_names_as_token

[2020-11-11 21:55] #46 closed, assigned to nobody

[2020-11-18 21:38] drupol opened #49 "Some constants are not rendered properly"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 4  |
| BC Break?           | No |

### Goal

Hi,

I might be wrong, but here it is, I implemented a new test which is failing.

[code]

Basically, `FALSE` is a defined constant: https://3v4l.org/8Rpd1

When I run this test, I get:

[code]

I will submit a PR fixing this issue.

[2020-11-25 04:47] cao-minh-duc opened #51 "Missing Traits and Use when using method ClassGenerator::fromReflection(new ClassReflection($class))"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

I'm now a having some classes using "Trait" -> try using ClassGenerator but it generate all method, properties, constants of Trait instead of generate Trait.

[2020-11-25 06:59] froschdesign commented on #51
@cao-minh-duc
Have you seen `Laminas\Code\Generator\TraitGenerator`:

https://github.com/laminas/laminas-code/blob/d5283e9e5e6f292bc10b15054092cd8b1df53a9b/src/Generator/TraitGenerator.php#L16-L26

[2020-11-25 07:07] cao-minh-duc commented on #51
Tks u. But i'm talking about Generate a Class contain Traits. Not Generate a Trait

[2020-11-25 07:25] froschdesign commented on #51
@cao-minh-duc
Same directory:

https://github.com/laminas/laminas-code/blob/d5283e9e5e6f292bc10b15054092cd8b1df53a9b/src/Generator/TraitUsageGenerator.php#L27

[2020-11-25 07:50] cao-minh-duc commented on #51
Yes. I see that and it also in https://github.com/laminas/laminas-code/blob/d5283e9e5e6f292bc10b15054092cd8b1df53a9b/src/Generator/ClassGenerator.php#L97 but it seem not work with method fromReflection

[2020-11-25 08:10] froschdesign commented on #51
@cao-minh-duc
First: the documentation is missing for traits – **this is a bug**.

To understand what your goal is, some example code would be helpful here.

[2020-11-25 08:19] cao-minh-duc commented on #51
-- \App\Models\User
[code]
-- Generate logic
[code]
-- Result
[code]
-- Expect
[code]

[2020-11-25 10:35] froschdesign commented on #51
@cao-minh-duc
Thanks for the example, which illustrates the problem very well. 👍

[2020-11-26 18:06] sd1328 opened #52 "There is no @return existence check when prototyping"
### Insufficient return value validation

Class  \Laminas\Code\Reflection\MethodReflection
Method:   getPrototype
Line: 100

[code]
There is no check for the existence of @return. If it is absent, we get an exception "Call to a member function getTypes() on bool"

[2020-11-29 13:54] fezfez opened #53 "Internal class with parameters union type fail (php8)"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.5.0

#### Summary

Internal class with parameters union type fail (php8)

#### Current behavior
Exception with union type parameter

[code]

#### How to reproduce
[code]

#### Expected behavior

[2020-11-30 13:13] #49 closed, assigned to Ocramius

[2020-11-30 19:31] Ocramius commented on #53
@fezfez please review #57 when you have time :-)

[2020-11-30 20:10] Ocramius commented on #53
Closing here, as it's being discussed in #57

[2020-11-30 20:10] #53 closed, assigned to Ocramius

[2020-11-30 20:23] Ocramius commented on #22
No longer needed as per #58

[2020-11-30 20:23] #22 closed

[2020-11-30 20:24] Ocramius commented on #28
No longer needed as per #58

[2020-11-30 20:24] #28 closed

[2020-11-30 20:24] Ocramius commented on #27
No longer needed as per #58

[2020-11-30 20:24] #27 closed

[2020-11-30 20:25] Ocramius commented on #8
No longer needed as per #58

[2020-11-30 20:25] #8 closed

[2020-11-30 20:25] Ocramius commented on #9
No longer needed as per #58

[2020-11-30 20:25] #9 closed

[2020-11-30 20:26] Ocramius commented on #19
No longer needed as per #58

[2020-11-30 20:26] #19 closed

[2020-11-30 20:27] Ocramius commented on #5
Handled in #58 - `DocBlockReflection` will live on for some time, but probably dead by `5.0.0`

[2020-11-30 20:27] #5 closed

[2020-11-30 20:28] Ocramius commented on #3
This is correct: that filter is not supposed to use the returned value, but just to check that the input is somewhat used.

Should've been an `array_walk()`, but closing here, as in #57 I documented it briefly, and we can further improve it when moving to aggressive `vimeo/psalm` analysis.

[2020-11-30 20:28] #3 closed

[2020-11-30 20:29] Ocramius commented on #1
No longer needed as per #58

[2020-11-30 20:29] #1 closed

[2020-11-30 20:30] Ocramius commented on #4
Closing as per previous comment - the behavior is indeed correct.

[2020-11-30 20:30] #4 closed

[2020-11-30 20:32] Ocramius commented on #12
Closing here: most of the scanner is gone in #58, while #45 is tracking most of the work to be done to improve the library at type level.

[2020-11-30 20:32] #12 closed

[2020-11-30 20:34] Ocramius commented on #10
Fixed-ish in #38 - we need more fixes like this one to make the library fully compliant, but for now closing here, as most issues are solved.

[2020-11-30 20:34] #10 closed

[2020-11-30 20:35] Ocramius commented on #17
Dropped directly in 4.0 via #58 - the scanners were completely unusable on PHP 8.0.0+ codebases anyway

[2020-11-30 20:35] #17 closed

[2020-11-30 20:36] Ocramius commented on #23
Closing here: the FQCN used when generating method/property signatures are (by design) to be prefixed with `\\`, as otherwise it becomes extremely tricky (and with very little ROI) to generate valid code.

[2020-11-30 20:36] #23 closed

[2020-11-30 20:37] Ocramius commented on #25
Closing: `FileReflection` will be gone with #58

[2020-11-30 20:37] #25 closed

[2020-11-30 20:38] Ocramius commented on #26
No longer needed as per #58

[2020-11-30 20:38] #26 closed

[2020-11-30 20:38] Ocramius commented on #15
No longer needed as per #58

[2020-11-30 20:38] #15 closed

[2020-11-30 20:39] Ocramius commented on #21
Closing here: the annotation support in `laminas/laminas-code` is long gone (in `3.x`)

[2020-11-30 20:39] #21 closed

[2020-11-30 20:40] Ocramius commented on #14
This library does indeed not provide such functionality: would be best to request such a feature on https://github.com/Roave/BetterReflection instead

[2020-11-30 20:40] #14 closed

[2020-11-30 20:41] Ocramius commented on #29
This is generally a problem of constant in the reflection API: not fixable by this library - requires upstream fixes.

[2020-11-30 20:41] #29 closed

[2020-11-30 20:42] Ocramius commented on #30
This was clarified in https://github.com/zendframework/zend-code/pull/40#issuecomment-317237918 - won't be implemented, as the library does use FQCN in signatures **by design**.

[2020-11-30 20:42] #30 closed

[2020-11-30 20:43] Ocramius commented on #20
Closing as duplicate, like upstream issue

[2020-11-30 20:43] #20 closed

[2020-11-30 20:44] Ocramius commented on #18
No longer needed as per #58

[2020-11-30 20:44] #18 closed

[2020-11-30 20:46] Ocramius commented on #13
This cannot be done reliably, since a `\r\n` sequence can sneak into a HEREDOC/NOWDOC/`''` block, and in such case, the newline is supposed to be preserved.

It is safest to perform no action at all, and instead preserve newlines as they were staying before, as annoying as it may sound.

Note that this does not affect PSR-12 compliant code, since `"\n"` is the newline delimiter in PHP code.

[2020-11-30 20:46] #13 closed

[2020-11-30 23:05] kynx commented on #15
Heavens to Betsy! I used to alias trait methods? What was wrong with me?!

Nice cleanup you’re doing @Ocramius 🙂

[2020-12-01 12:50] fezfez commented on #52
@sd1328 : please provide a code to reproducing the bug

[2020-12-09 18:03] Ocramius commented on #45
Note: #61 implements this, but with Github actions, since Travis-CI is completely unusable right now.

[2020-12-09 18:04] #45 closed, assigned to Ocramius

[2020-12-09 20:28] Ocramius opened #62 "Upgrade to latest coding standard and lock dependencies in builds"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

[2020-12-09 21:49] Ocramius opened #64 "Verify `4.0.x` branch against real-world applications before releasing"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | yes
| BC Break    | no

#### Summary

Before releasing to `4.0.x`, we need to first test this in the wild with newer PHP 8.0 features.

Most notably, @Ocramius specifically will integrate the component with [`ocramius/proxy-manager`](https://github.com/Ocramius/ProxyManager/) before calling it "ready

[2020-12-18 06:42] martinssipenko commented on #64
I tried using `laminas/laminas-code` `4.x` branch with `ocramius/proxy-manager`.

Using `ocramius/proxy-manager:2.11.x` as base:
https://github.com/Ocramius/ProxyManager/pull/637

Using [8.0 patch](https://github.com/Ocramius/ProxyManager/pull/628) as base:
https://github.com/Ocramius/ProxyManager/pull/639

Also tried using 4.x on `laminas-server`:
https://github.com/laminas/laminas-server/pull/21

[2020-12-18 07:11] martinssipenko commented on #64
Is this enough for 4.0 release or is there anything else I could do?

[2020-12-30 08:32] TheMechanicalButterfly opened #66 "TypeGenerator regex pattern does not validate union return types"
When using class methods with PHP 8 union return types, an `InvalidArgumentException` is triggered.

Example processing the (simplified) method
[code]
leads to the following error:
[code]

[2020-12-30 09:51] Ocramius commented on #66
Duplicate of #57.

[2020-12-30 09:51] #66 closed, assigned to Ocramius

[2020-12-30 16:07] Ocramius commented on #64
Tested this carefully - works as expected, so :ship:

[2020-12-30 16:07] #64 closed, assigned to Ocramius

[2020-12-30 16:08] Ocramius commented on #62
Done in 9a08941c97c69b0255957171608c584d024f5753

[2020-12-30 16:08] #62 closed, assigned to Ocramius

[2020-12-31 09:48] Tomanhez opened #67 "Many syntax errors with v4.0.0 after using `vimeo/psalm` on php7.4"
v4.0.0 creates those enigmatic bugs on php7.4 after run vendor/bin/psalm --show-info=false:
I tested it on psalm 4.1, 4.2 and 4.3. Every cases are the same:

[code]

It occured in Sylius:
<img width="1440" alt="Screenshot 2020-12-30 at 20 27 52" src="https://user-images.githubusercontent.com/39232096/103404900-9213b300-4b55-11eb-9d10-95b3650267d6.png">

[2020-12-31 11:04] Ocramius commented on #67
Can you link a build? We test this component against 7.4 and 8.0, and besides some test fixtures, no PHP 8 syntax should be involved

[2020-12-31 11:13] froschdesign commented on #67
I think this one: https://github.com/Sylius/Sylius/runs/1629735084?check_suite_focus=true

[2020-12-31 11:16] Tomanhez commented on #67
Return to `v3.5.1` fixed the problem: https://github.com/Sylius/Sylius/pull/12214

[2021-01-03 15:37] franmomu commented on #67
If it helps, here another one: https://github.com/sonata-project/sonata-doctrine-extensions/pull/281/checks?check_run_id=1638983910

I have no idea, but looks like `static fn` is always involved, these are the errors:
[code]

[2021-01-03 15:49] Ocramius commented on #67
Right, so `static fn` is indeed PHP 7.4+ syntax.

What I was thinking is that your environment has a very old version of `nikic/php-parser` (one of the dependencies of `vimeo/psalm`) installed, and therefore does not understand the syntax of PHP 7.4+. I checked the CI output and you are running with the latest `vimeo/psalm` and latest `nikic/php-parser`. You are also running everything on PHP 7.4+

[2021-01-03 16:31] franmomu commented on #67
It was easier than it looked like, so if the PHP version is not provided, [Psalm infers the PHP version from `composer.json`](https://github.com/vimeo/psalm/blob/2d17b744cee1cdeb3eb6788fcd90b373107e7271/src/Psalm/Config.php#L2151) and we have set `7.3` as the minimum.

Configuring PHP version in psalm to 7.4 fixes the issue, e.g. executing:
[code]

[2021-01-03 16:37] Ocramius commented on #67
Makes sense 👍

[2021-01-03 16:37] #67 closed, assigned to Ocramius

[2021-01-10 11:01] lisachenko opened #69 "[RFC]: Next major version of package. Stricter types for methods, API cleaning."
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 5.x.x  |
| BC Break?           | **Yes** |

### Goal

I want to discuss next major version of this package and what can be improved in it to have better API for this package.

### Background

Current version of package contains too many places where method of a class can accept different types at the

[2021-01-10 11:19] lisachenko commented on #69
@Ocramius @weierophinney Could you please check? What is your opinion about this proposal? Thanks in advance!

[2021-01-10 16:32] Ocramius commented on #69
Overall OK with this: the library does work, but its pain points are the too lax API, coming from a time where "allow everyone to do anything" was the mantra.

Reducing the API surface drastically will help a lot here, and using PHP 8 union types and stricter psalm checks (ideally totallytyped) would help reducing complexity by a lot.

[2021-01-24 19:03] mchekin commented on #35
@michalbundyra
I would like to take care of this issue.

[2021-01-26 20:13] mchekin commented on #35
@michalbundyra

Maybe I do not understand the issue, but according to the source code:
https://github.com/laminas/laminas-code/blob/4.1.x/src/Generator/ParameterGenerator.php#L59-L65

And according to the tests:
https://github.com/laminas/laminas-code/blob/4.1.x/test/Generator/ParameterGeneratorTest.php#L506-L556

It seems like everything works as expected.

Am I missing something here?

[2021-01-27 08:39] Ocramius commented on #35
@mchekin the test checks `->isVariadic()`, but not `->isOptional()`, I think?

[2021-01-30 13:56] mchekin commented on #35
@Ocramius
@michalbundyra

I created a pull request which prevents generating variadic parameters with default value + an accompanying unit test https://github.com/laminas/laminas-code/pull/72

[2021-03-24 01:25] simon-mundy opened #74 "Allow generators instead of deriving from strings in various Generator classes"
Referencing #30 and the issue with type-hinted parameters.

Currently the method for setting Type Hints in the `ParameterGenerator` enforces an object by deriving the `TypeGenerator` from a string.

[code]

It would be trivial and would not break existing code to change the method to allow a `$type` of either a string or a `GeneratorInterface` to be passed in, and therefore allow custom treatment

[2021-03-25 19:52] Ocramius commented on #74
Why would a `GeneratorInterface` be passed in in first place? I'd rather have a separate method, than expanding the parameter type (which breaks subclasses)

[2021-03-26 01:43] simon-mundy commented on #74
Hi @Ocramius - for me it makes sense to pass it in as you're storing an instance of a `GeneratorInterface` anyway. It would not only be BC but closer to intent in terms of setters/getters.

I also think the benefits far outweigh the minor work needed to do this. I can happily write the additional unit test required if that would help?

[2021-03-27 13:41] Ocramius commented on #74
That's a `private`/internal detail anyway.

Overall, I'm OK with passing in a `TypeGenerator`, but only on a dedicated method.

Reason for this is that we can then deprecate `setType()`, and keep `setTypeGenerator()` instead.

[2021-03-30 00:25] simon-mundy commented on #74
Great I'll provide some code for review ASAP with the above in mind

[2021-04-14 13:17] vrkansagara commented on #34
is there any update on this ?

[2021-04-14 13:25] vrkansagara commented on #34
@michalbundyra  You can close this issue as I am sharing code for the user.

[code]

Ping :-  @wwwgo-pl

[2021-04-14 14:05] Ocramius commented on #34
Thanks for verifying this, @vrkansagara!

[2021-04-14 14:05] #34 closed

[2021-04-14 14:50] vrkansagara commented on #24
[code]

[code]

@weierophinney  You can close this issue as I am sharing code for the user.
Ping :- @RSully

[2021-04-14 14:52] Ocramius commented on #24
Is it part of the docs though? The original issue is indeed about expanding in the RST docs...

[2021-04-14 14:53] vrkansagara commented on #24
@Ocramius  I am thinking to contribute into doc but it was not original into doc so I am not sure about this.

[2021-04-14 14:56] Ocramius commented on #24
Perhaps adding a section to https://github.com/laminas/laminas-code/blob/ab0d54d8cb8b9ca1f6a8c3287e83724fbc61edbf/docs/book/generator/examples.md ?

[2021-04-14 22:03] Ocramius commented on #35
Handled in #72

[2021-04-14 22:03] #35 closed

[2021-04-23 09:33] rieschl opened #76 "PropertyGenerator::fromReflection throws E_NOTICE for non-default typed properties"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 4.2.0

Apparently, `\ReflectionClass::getDefaultProperties` doesn't return typed properties without a default value, thus an `E_NOTICE` is emitted when assigning [`$defaultValue`](https://github.com/laminas/laminas-code/blob/4.3.x/src/Generator/PropertyGenerator.php#L38) because it's trying to access an undefined index.

[2021-04-23 11:54] Ocramius commented on #76
Handled in #77

[2021-04-23 11:54] #76 closed, assigned to Ocramius

[2021-04-27 20:33] edurk89 opened #79 "Compile error type on MethodGenerator.php line 25 using php 8.0"
Using php 8.0 with symfony in my case, I could see the following bug while container is building:

`"laminas/laminas-code": "4.2.1"`

`Type of Laminas\Code\Generator\MethodGenerator::$docBlock must be ?Laminas\Code\Generator\DocBlockGenerator (as in class Laminas\Code\Generator\AbstractMemberGenerator) in /app/vendor/laminas/laminas-code/src/Generator/MethodGenerator.php on line 25`

It seems that

[2021-04-27 21:57] Ocramius commented on #79
What is the full stack trace?

On Tue, Apr 27, 2021, 22:33 edurk89 ***@***.***> wrote:

[2021-04-28 16:26] edurk89 commented on #79
`Symfony\Component\ErrorHandler\Error\FatalError:
Compile Error: Type of Laminas\Code\Generator\MethodGenerator::$docBlock must be ?Laminas\Code\Generator\DocBlockGenerator (as in class Laminas\Code\Generator\AbstractMemberGenerator)

  at /app/vendor/laminas/laminas-code/src/Generator/MethodGenerator.php:25   `

[2021-04-28 16:32] Ocramius commented on #79
That's only one line: what's the full trace, so we can see what is causing the problem?

Overall, the type is already the one suggested by the exception.

[2021-04-29 10:36] AlexGx commented on #79
We have same issue on 8.0.0, on 8.0.3 works fine.

[2021-04-29 11:36] Ocramius commented on #79
I suppose this is a bug on PHP then? Any reference to an upstream related
issue?

On Thu, Apr 29, 2021, 12:36 Alexander Gubarev ***@***.***>
wrote:

[2021-04-29 13:54] edurk89 commented on #79
`Fatal error: Type of Laminas\Code\Generator\MethodGenerator::$docBlock must be ?Laminas\Code\Generator\DocBlockGenerator (as in class Laminas\Code\Generator\AbstractMemberGenerator) in /app/vendor/laminas/laminas-code/src/Generator/MethodGenerator.php on line 25

Call Stack:
    0.0136     349768   1. {main}() /app/bin/console:0
    0.0307     680448   2. Symfony\Bundle\FrameworkBundle\Console\Ap

[2021-04-29 14:00] edurk89 commented on #79
@AlexGx , you're right. Php version 8.0.3 solves problem.
Thanks!

[2021-04-29 14:19] Ocramius commented on #79
I couldn't find any tickets related to this: https://bugs.php.net/search.php?search_for=type&boolean=0&limit=30&order_by=&direction=DESC&cmd=display&status=Open&bug_type=All&project=All&php_os=&phpver=8.0.0&cve_id=&assign=&author_email=&bug_age=0&bug_updated=0&commented_by=

Can anyone pinpoint it on https://github.com/php/php-src/compare/php-8.0.0...php-8.0.3 ?

[2021-04-29 14:51] Ocramius commented on #79
Closing here meanwhile, since it is evidently an upstream issue.

[2021-04-29 14:51] #79 closed, assigned to Ocramius

[2021-05-06 19:31] martin-helmich opened #80 "DocBlockGenerator output breaks when used without $longDescription"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 4.2.1

#### Summary

`DocBlockGenerator` output formatting breaks when used without "long description".

#### Current behavior

When omitting the `$longDescription` argument, the constructur defaults to an empty string. Later checks (that assert if a `longDescription` is set) however test for `=== null` and never catch on t

[2021-05-07 14:08] Ocramius commented on #80
Closing as per #81

[2021-05-07 14:08] #80 closed, assigned to Ocramius

[2021-06-18 07:45] gaetan-petit opened #89 "Class imcompatiblity"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 4.4.0

#### Summary

Ugrading to 4.4.0 in a Symfony 3.4 application cause compatibility error.

#### Current behavior

[code]

#### How to reproduce

Running composer update on application.

[2021-06-18 07:50] Ocramius commented on #89
I would report this in upstream symfony: a dependency to
`laminas/laminas-code` is missing there, and needs to be declared
explicitly.

On Fri, Jun 18, 2021, 09:45 Gaëtan Petit ***@***.***> wrote:

[2021-06-18 08:04] gaetan-petit commented on #89
In our app several packages requires `ocramius/proxy-manager` (including `symfony/proxy-manager-bridge`) that require `laminas/laminas-code`
I'm not really familiar with the ProxyManagers where do you think the dependency is missing @Ocramius ?

[2021-06-18 08:11] Ocramius commented on #89
`Symfony\Bridge\ProxyManager\LazyProxy\PhpDumper\LazyLoadingValueHolderGenerator`
seems to use `zendframework/zend-code`, but it doesn't declare a
dependency to it, hence why the class didn't get installed, and a
crash occurs.

The correct fix would be to declare a dependency there, and perhaps
plan a migration to `laminas/laminas-code` too

On Fri, Jun 18, 2021, 10:04 Gaëtan Petit ***@***.***> wr

[2021-06-18 16:47] Ocramius commented on #89
Closing here: issue exists in symfony/symfony#41742, not here.

Suggestions have been made for upstream, but intentionally ignored.

[2021-06-18 16:47] #89 closed, assigned to Ocramius

[2021-07-12 09:50] iganev opened #94 "Migarting from version 3 to version 4 breaks making changes to existing classes using reflection"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 3.5.1

#### Summary

Migrating from 3.5.1 to 4.4.2 seems impossible. Generation based on reflection is fundamentally broken.

#### Previous behavior

There used to be a FileReflection class in the Reflection namespace. This class no longer exists. This breaks generating classes based on existing code. FileReflection us

[2021-07-12 09:58] iganev commented on #94
There also used to be a whole bunch of Scanners... I just tried to find the CachingFileScanner to feed the right data into FileGenerator and work around the issue. That Scanner along with most of the rest also seems to be purged out of existence.

[2021-07-12 10:09] iganev commented on #94
Cool stuff... No changelog.. but digging into the commits I found this pull request:

https://github.com/laminas/laminas-code/pull/58

[2021-07-12 10:09] #94 closed, assigned to nobody

[2021-07-12 10:46] Ocramius commented on #94
Seen https://github.com/laminas/laminas-code/releases/tag/4.0.0 ?

On Mon, 12 Jul 2021, 12:10 Ivan Ganev, ***@***.***> wrote:

[2021-07-12 12:01] iganev commented on #94
Not soon enough. But eventually did. The so-called "better alternative" requires PHP >= 7.4.1 && < 7.5. So 8 is out of the question.

[2021-07-12 13:39] Ocramius commented on #94
Yes, I and @asgrim try to do what we can during our free time: you can try and help on https://github.com/Roave/BetterReflection/issues/701 if you have an active need, and you or your employer want to chip in.

Meanwhile, the scanner component was in shambles with PHP 8 anyway, and maintaining it further was out of question.

[2021-09-03 15:09] titrxw opened #96 "MethodReflection getBody() is incomplete"
https://github.com/laminas/laminas-code/blob/17fd2af36804f3f61788573cb70196454d6ee1d8/src/Reflection/MethodReflection.php#L230

[code]
The output is “$instance = new ”

[2021-09-03 15:40] Ocramius commented on #96
Fairly sure that we should just deprecate that whole method: token-based parsing is a mess, and there are better tools for that nowadays.

[2021-09-06 10:27] titrxw opened #97 "addTraitAlias error, Invalid Alias: Method name already exists on this class"
https://github.com/laminas/laminas-code/blob/17fd2af36804f3f61788573cb70196454d6ee1d8/src/Generator/TraitUsageGenerator.php#L259
https://github.com/laminas/laminas-code/blob/17fd2af36804f3f61788573cb70196454d6ee1d8/src/Generator/TraitUsageGenerator.php#L410

[code]

Trigger an exception. The exception message is
[code]

[2021-09-14 15:36] Ocramius opened #99 "PHP 8.1 pure intersection type support"
https://wiki.php.net/rfc/pure-intersection-types

[2021-09-14 15:36] Ocramius opened #100 "PHP 8.1 enum type support"
https://wiki.php.net/rfc/enumerations

[2021-09-14 15:38] Ocramius opened #101 "Support PHP 8.1 read-only properties"
https://wiki.php.net/rfc/readonly_properties_v2

[2021-09-14 15:41] Ocramius opened #102 "PHP 8.1 noreturn type support"
https://wiki.php.net/rfc/noreturn_type

[2021-09-14 15:42] Ocramius opened #103 "PHP 8.1 final constant support"
https://wiki.php.net/rfc/final_class_const

[2021-09-14 15:43] Ocramius opened #104 "PHP 8.1 `new` in initializers support"
https://wiki.php.net/rfc/new_in_initializers

[2021-09-22 09:22] #99 closed, assigned to Ocramius

[2021-09-22 09:22] #102 closed, assigned to Ocramius

[2021-11-12 15:02] Ocramius commented on #100
Being worked on in #109

[2021-11-13 22:29] michaelpetri commented on #104
This one should be implemented as a new flag as well? `PropertyGenerator::FLAG_IN_INITIALIZER` ?

[2021-11-15 10:53] Ocramius commented on #104
Difficult to say: I think this is part of `ParameterGenerator`, not `PropertyGenerator`? :thinking:

The bulk of all logic lives in the `ValueGenerator`, which is not currently capable of complex expressions:

https://github.com/laminas/laminas-code/blob/e9e2dcc47159900b4187b585aaf3fd8380dc8946/src/Generator/ValueGenerator.php#L27

It may perhaps be something relevant post-release, but the isomorp

[2021-11-15 22:57] michaelpetri commented on #104
Will give it a try on wednesday @lyska or after my other two open patches :v:

[2021-11-20 14:05] #103 closed, assigned to Ocramius

[2021-11-20 14:09] #101 closed, assigned to Ocramius

[2021-11-24 10:08] atomiix opened #115 "Create a -lts branch to support a wider range of PHP versions"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Hi,

At PrestaShop we are trying to provide a wide range of PHP versions for our next version, which would be from PHP 7.2 to PHP 8.1.

Even if with multiple versions of laminas-code, that range can be covered, there is no unique version that can do it.

Would it

[2021-11-24 10:15] Ocramius commented on #115
Heyo,

It is not realistically feasible to support wider dependency ranges for maintainers (and availability them of) of the repo:
 * `4.0.0` onwards supports PHP 7.4+
 * I certainly accept patches for `laminas/code:3.0.0` onwards, where `php:5.5` is still supported (for security issues only, nothing else).

The only alternative is to have regular funding to deal with that, and introduce at least

[2021-11-24 10:30] atomiix commented on #115
I certainly understand your point of view but in the CMS ecosystem, php versions can be slow to upgrade, that's why we had to try ;)

I'm closing this issue as nothing will be done on this repository.

[2021-11-24 10:30] #115 closed, assigned to nobody

[2021-11-24 10:35] Ocramius commented on #115
@atomiix it's also impedance between companies and "weekend warriors".

More context on that in https://github.com/Ocramius/.github/blob/6d4561515513f6d59fb144d838971d4a7715e3e4/why-i-do-open-source.md

I would certainly consider widening ranges if I had dedicated paid time to do it, and that would effectively turn it into "client work", but as it is something I do over the weekends, it is not in

[2021-11-24 13:06] eternoendless commented on #115
Just to clarify - @atomiix didn't ask _you_ to do it, but asked if _we_ could do it together in the original repository, because to us it makes sense to collaborate on open source software instead of forking away and going solo. Of course, you're free to think differently.

[2021-11-24 13:07] Ocramius commented on #115
Yes, but the maintenance still ends up here, hence there's no difference.

[2021-11-24 13:37] eternoendless commented on #115
We're willing to collaborate on that if you are.

[2021-11-24 13:39] Ocramius commented on #115
As I mentioned above, I'm not willing to cooperate on including further maintenance effort: conditions have been explained clearly on a [previous comment](https://github.com/laminas/laminas-code/issues/115#issuecomment-977731791), so it really a financing problem.

[2021-11-29 16:44] Ocramius commented on #104
As discussed with @michaelpetri, the problem with `new` in initializers is that we can't deduct a PHP expression for generating a value, when given a value.

The `ValueGenerator` would need radical adjustments here, but it would not be capable of generating an expression in a reliable way.

For example:

[code]

I don't think it is realistically feasible to solve this problem by `4.5.0`, and there

[2021-11-30 09:58] fabianbadoi opened #116 "laminas-code is not installable on PHP 8.1"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes (maybe?)
| RFC         | no
| BC Break    | no

#### Summary

PHP 8.1 was release on Nov 25th. Currently, it's not possible to install this library without using `--ignore-platform-reqs`.

From my tests on our code base it looks like everything works fine, I would like to ask you to tag a new version (4.4.4?) with

[2021-11-30 10:34] akalineskou commented on #116
Having the same issue!

[2021-11-30 10:55] garciasdos commented on #116
Same here. Hope this changes soon 🤞🏼

[2021-11-30 11:27] alshenetsky commented on #116
Dockerhub has pushed 8.1 tag a few hours ago. Not being able to install **doctrine/migrations** is the main reason why this thread will explode with the impatient developers :)

[2021-11-30 11:33] fabianbadoi commented on #116
Impatient, but still very grateful for the effort put into this project! :)

[2021-11-30 12:53] akalineskou commented on #116
FWIW I added `"laminas/laminas-code": "4.5.x-dev"` to my composer json to see if anything will break, and all my tests passed on 8.1 (symfony application).

[2021-11-30 13:11] alshenetsky commented on #116
@akalineskou Maybe you haven't had time to start using enums or other features from 8.1? I think it's important to the maintainer of this project that these features work, not break.

[2021-11-30 13:35] akalineskou commented on #116
@alshenetsky I'm not using this library directly, would me using new 8.1 features in my app have any issues with this library not supporting them?

[2021-11-30 13:53] alshenetsky commented on #116
@akalineskou I mean passing tests in your app does not indicate that laminas-code 4.5 can be released sooner. Sure enough that you using this library indirectly via doctrine/migrations or something, that should generate proxy classes. And such generation may break up in case of enums/other 8.1 features (which is you probably don't use yet). I don't know, I am just reasoning with you.

Let's just w

[2021-11-30 14:23] fabianbadoi commented on #116
IMHO, laminas-code 4.5 should support enums and other 8.1 features.

Version 4.4.4 should be installable on PHP 8.1, and runnable (it is). I'm OK with laminas generating php 8.0 code while running on 8.1, if that means I can migrate sooner.

[2021-11-30 14:54] Ocramius commented on #116
See https://github.com/laminas/laminas-code/milestone/19

If Laminas is to generate symbols from a reflector, then it must run against PHP 8.1 (currently doesn't generate valid code).

As for the dependency range declaring `~8.0.0`, it is intentional, and even moreso in this package, because even slight additions to the `ext-reflection` API represent a BC break. The next release branch also declar

[2021-11-30 14:54] #116 closed, assigned to Ocramius

[2021-12-01 09:18] eternoendless commented on #115
I hear you loud and clear.

In case anyone else is interested, we have forked the library here in order to provide the wide compatibility range we needed: https://github.com/PrestaShop/laminas-code-lts

[2021-12-02 16:49] jjsaunier opened #117 "Tag 4.5 to allow upper dependency on php8.1"
Hello,

I would like to upgrade in php 8.1, this library is an indirect dependency of doctrine migration via https://packagist.org/packages/friendsofphp/proxy-manager-lts and the latest stable is `4.4.x` which does not support 8.1.

I would know if it's possible to tag a `4.5` which support it (https://github.com/laminas/laminas-code/commit/ba8865f5fad860bc7dc4fa30255a105b7314de31)

Cheers :v:

[2021-12-02 17:55] Ocramius commented on #117
See https://github.com/laminas/laminas-code/milestone/19

Duplicate of #116

[2021-12-02 17:55] #117 closed, assigned to Ocramius

[2021-12-02 18:29] jjsaunier commented on #117
:+1: didn't see - prefer to wait then rather than tricking

[2021-12-07 05:02] #100 closed, assigned to Ocramius

[2021-12-12 01:01] allansun opened #122 "Why is there no type hinting option on PropertyGenerator ?"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

Ref: https://discourse.laminas.dev/t/rfc-laminas-laminas-code-add-type-hinting-option-in-propertygenerator/2652

I’ve been using the code generator package for over 10 years and I’m surprised to see there’s still no option to add type hinting on PropertyGenerato

[2022-02-07 13:30] gildonei opened #126 "Error creating API Tools project from composer"
### Bug Report

|    Software        |  Version
|------------ | ------
| Windows     | 11 - Full Updated
| PHP CLI | 7.4.9

#### Summary

Trying to create a new empty project according project tutorial in https://api-tools.getlaminas.org/

#### Current behavior

[code]

#### How to reproduce

In console run `composer create-project laminas-api-tools/api-tools-skeleton`, and use production config f

[2022-02-07 13:33] Ocramius commented on #126
This is not related to `laminas/laminas-code` - please report it on https://github.com/laminas-api-tools/api-tools-skeleton

We'd also need more output, specifically what errors occurred (exit code `1` is not sufficient)

[2022-02-07 13:33] #126 closed, assigned to Ocramius

[2022-02-19 06:36] Sanjay-100 opened #127 "Run maganto with PHP 8.1"
magneto 2.4 with PHP version of 8.1

need to add with php latest version compostable
  Problem 1
    - Root composer.json requires laminas/laminas-code ^3.5.1 -> satisfiable by laminas/laminas-code[3.5.1].
    - laminas/laminas-code 3.5.1 requires php ^7.3 || ~8.0.0 -> your php version (8.1.1) does not satisfy that requirement.
  Problem 2
    - Root composer.json requires laminas/laminas-escaper

[2022-02-19 14:03] Ocramius commented on #127
We already support PHP 8.1 on newer releases of `laminas/laminas-code`: it's up to Magento to upgrade here.

[2022-02-19 14:03] #127 closed, assigned to Ocramius

[2022-02-22 14:43] flavioheleno opened #129 "Undefined method FileGenerator::fromReflectedFilePath()"
### Bug Report

Method `fromReflectedFilePath` is missing from `Laminas\Code\Generator\FileGenerator`.

|    Q        |   A
|------------ | ------
| Version(s)  | 4.5.1

#### Summary

The documentation refers to `fromReflectedFilePath` static method for [Laminas\Code\Generator\FileGenerator](https://docs.laminas.dev/laminas-code/generator/reference/#laminascodegeneratorfilegenerator), as can be se

[2022-02-22 14:58] Ocramius commented on #129
I think it should be removed from the docs: file scanners have completely gone from `laminas/laminas-code`, so some updating is necessary.

Can you send a patch, please?

[2022-02-22 15:10] flavioheleno commented on #129
Done @Ocramius, thank you for replying to the issue this fast, very much appreciated.

[2022-02-22 15:21] #129 closed, assigned to Ocramius, flavioheleno

[2022-04-20 16:58] zhartaunik opened #131 "Unable to use with magento 2.4.4 and PHP 8.1"
### Bug Report

Unable to use with Magento 2.4.4 and PHP 8.1

#### Summary

Try to composer require and you will face incompatibility.

#### How to reproduce

composer require bitexpert/phpstan-magento

  Problem 1
    - laminas/laminas-code[3.3.0, ..., 3.4.1] require php ^7.1 -> your php version (8.1.1) does not satisfy that requirement.
    **- laminas/laminas-code[3.5.0, ..., 3.5.1] require php

[2022-04-20 17:01] Ocramius commented on #131
`laminas/laminas-code:^4` ([december 2020](https://github.com/laminas/laminas-code/releases/tag/4.0.0)) was released ages ago: please contact the friendly folks @bitexpert and coordinate with them to help them upgrade https://github.com/bitExpert/phpstan-magento to `laminas/laminas-code:^4`.

/cc @shochdoerfer

Closing here meanwhile: `3.x` will only receive security fixes, nothing else.

[2022-04-20 17:01] #131 closed, assigned to Ocramius

[2022-04-20 17:06] zhartaunik commented on #131
I'm sorry, but where is it?
![Screenshot from 2022-04-20 20-04-11](https://user-images.githubusercontent.com/11556652/164284986-5b23b478-f7de-4404-9295-40ed3a468e20.png)

[2022-04-20 17:07] zhartaunik commented on #131
Ouch, I'm sorry, I created a bug in a wrong repository :(

[2022-04-20 17:07] Ocramius commented on #131
@zhartaunik you opened an issue on `laminas/laminas-code`, which supports PHP 8.1 since https://github.com/laminas/laminas-code/releases/tag/4.5.0

[2022-04-20 17:08] Ocramius commented on #131
Happens :)

[2022-04-20 17:10] shochdoerfer commented on #131
@zhartaunik subscribe to this issue https://github.com/bitExpert/phpstan-magento/issues/193 to be notified when the next release of bitexpert/phpstan-magento is ready.

[2022-04-27 20:52] nicolas-grekas commented on #104
This might be doable by casting reflectors to string since https://github.com/php/php-src/pull/7540

[2022-06-26 19:30] stephanlueckl opened #134 "Generated method declaration return types are not complaint to PSR12"
### Bug Report

The Laminas\Code\Generator\MethodGenerator does not generate PSR12 compliant code in case of
setting the return type of the method signature.
Currently we need to run phpfix after creating a file with the code generator. Don't think this is necessary.

#### Summary

When you have a return type declaration present, there MUST be one space after the colon followed by the type declara

[2022-06-26 19:34] Ocramius commented on #134
I don't think this library is supposed to generate code that is compliant with any specific CS rule set (other than "runnable PHP"), therefore closing here.

You are still welcome to send a patch that improves compatibility with PSR rulesets, and I will gladly merge it, but it is not a requirement for the design of this component

[2022-06-26 19:34] #134 closed, assigned to Ocramius

[2022-06-26 20:00] ghostwriter commented on #134
Hey @stephanlueckl

Removing the space on line 378, before the colon `:`,  should resolve this.

https://github.com/laminas/laminas-code/blob/bef71fce9ddb799f69d8435aa2017508b33d58c0/src/Generator/MethodGenerator.php#L377-L379

[2022-07-20 19:05] renovate[bot] opened #136 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-code).

## Open

The following updates have all been created. To force a retry/rebase of any, click on a checkbox below.

 - [ ] [Up

[2022-07-28 22:33] #122 closed, assigned to Ocramius

[2022-08-03 09:21] salerat opened #142 "PHP 8.2 compability"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary
Due installing by composer i get next error while using PHP 8.2 RC:
`- laminas/laminas-code 4.7.x-dev requires php >=7.4, <8.2 -> your php version (8.2.0beta1) does not satisfy that requirement.`
Looks like this is last package which includes in Symfony 6.2 which not supports PHP 8.2

[2022-08-03 09:25] Ocramius commented on #142
Correct: this package does not yet support PHP 8.2.

PHP 8.2 compatibility will be rolled out once all features from PHP 8.2 are implemented/tested:

 * https://wiki.php.net/rfc/dnf_types
 * https://wiki.php.net/rfc/true-type
 * https://wiki.php.net/rfc/readonly_classes
 * https://wiki.php.net/rfc/null-false-standalone-types

[2022-08-11 16:29] jakublabno opened #144 "Add setAttributes to ClassGenerator"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Please add support for attributes generation like it has place for `DocBlockGenerator`
It should support one attributes or a group of them

[code]

[2022-08-11 16:32] Ocramius commented on #144
Probably requires a dedicated `AttributeGenerator`: consider sending a patch/proposal.

[2022-08-12 08:51] jakublabno commented on #144
Should I leave compatibility with 7.4?

[2022-08-12 08:53] Ocramius commented on #144
Your pick: PHP 7.4 is almost dead, so you can drop it, if it helps development.

[2022-08-12 08:53] Ocramius commented on #144
See also #143

[2022-08-12 13:04] jakublabno commented on #144
https://github.com/laminas/laminas-code/pull/145

[2022-09-19 10:57] agustingomes commented on #142
Now that the PHP 8.2 has reached Release Candidate phase, I think is a good moment to add the new features, and in the process, drop support for PHP 7.4.

I'll personally try to invest some hours in the upcoming weeks to get some of the new 8.2 features in.

[2022-11-03 17:35] guradia commented on #142
I have a codebase with Symfony 6.1.x at hand, that does work fine under PHP 8.2.
But doing anything with composer gets blocked by this constraint.

So i think the constraint is kind of erroneously applied?

Meaning:
Coming from the view of features this library understands, sure ... it does not support PHP 8.2.
But the constraints applied to a library should be about the compatibility of the libra

[2022-11-03 18:03] Ocramius commented on #142
@guradia just cross-referencing: https://github.com/laminas/laminas-diactoros/issues/117#issuecomment-1267306142

As for PHP 8.2 support, hoping to throw some time at this soon: haven't found any yet, and I've already upgraded a few hundred other packages so far. Patience.

[2022-11-03 18:31] guradia commented on #142
@Ocramius ah, yes. This reasoning about SemVer is totally sound. And to be square with myself: Me going early adopter is obviously calling for trouble and is my problem alone.

Having concluded that, i just ran the test suite for the library under PHP 8.2 and did the composer run with "--ignore-platform-req=php+" for the Symfony codebase. Since i am now being confident with that.

May such a test

[2022-11-03 18:33] Ocramius commented on #142
@guradia practically, there's a bunch of stuff in the `4.8.0` milestone that needs to happen before 8.2.0 is considered viable.

In this component's case, "it runs" is not sufficient to declare PHP 8.2 compatibility.

[2022-11-19 15:27] Ocramius opened #155 "Remove all `@deprecated` code from the component in `5.0.0`"

[2022-11-20 09:12] fezfez commented on #142
based on this comment, here is the path to release PHP 8.2 compat

| Feature                                              | Merge request                                    | done? |
|------------------------------------------------------|--------------------------------------------------|------|
| https://wiki.php.net/rfc/dnf_types                   |

[2022-11-20 09:58] fezfez commented on #142
@Ocramius i think you are working on https://wiki.php.net/rfc/dnf_types ?
( https://twitter.com/Ocramius/status/1593678065103667208/photo/1 ) :neckbeard:

[2022-11-20 11:09] Ocramius commented on #142
Ya, didn't commit anything yet though

[2022-11-21 06:10] Ocramius commented on #142
@fezfez if you want to do DNF types, the `TypeGenerator` is mostly `@internal`, so you can rewrite it completely, if you want :D

[2022-11-21 06:45] fezfez commented on #142
haha, okay i will probably in the week

[2022-11-21 14:36] arokettu commented on #142
laminas-code technically has 2 PHP compatibility targets: for a host platform and for a target platform. Currently they are treated as unified but I don't see any good reason for them to be strictly aligned. My current generation target is 5.6 for example and I suspect it to be the most common use case, for people wanting to run their old generation code for old targets on the updated platform

[2022-11-21 14:40] IonBazan commented on #142
In fact, Readme states that this tool could potentially be used to generate code for other targets:

[2022-11-22 17:19] Ocramius commented on #142
The problem with them being aligned is that this code **extends** `ext-reflection` too, so it must stick to it to some degree, or else madness (in maintenance) ensues.

Anyway, I think DNF types are the last bit missing.

In fact: if this component encouters a DNF type at runtime, it currently crashes hard.

[2022-11-22 20:01] arokettu commented on #142
@Ocramius thanks for the explanation

[2022-11-30 06:59] faizan-shk commented on #142
@Ocramius any ETA when 8.2 Compatibility for laminas-code will be added. Almost all other laminas packages have added support for php 8.2!

[2022-11-30 09:08] Ocramius commented on #142
@faizan-shk the ETA is "whenever @Ocramius has a free weekend to throw a good chunk of time at this".